<!--总积分排行榜页面-->

{template 'header2'}
<link href="/ssz/wap/css/fuwu.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="/public/layui/css/layui.css">
<script src="/public/layui/layui.js"></script>
<style>
.user_three span{
    margin:0 8px ;
}
</style>
<div id="content_Height" class="clearfix" {$k=0};>
	<div style="overflow:hidden;">
		<div class="section">
			<div class="ccon-cell">
				<div>
					<p class="banjian_tit"><span></span>总积分排行榜</p>
					<div item="zixun">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="banjian">
							<thead>
								<tr bgcolor="#f3f7fc">
								    <td width="20%" align="center" valign="middle">排行</td> 
									<td width="20%" align="center" valign="middle">姓名</td> 
									<td width="20%" align="center" valign="middle">积分</td> 
								</tr>
							</thead>
							<tbody>
							     
							    {loop $userlist $vl}
							   
							   
								<tr  {$k++}>
									<td align="center" valign="middle">{php echo $k}</td> 
									<td align="center" valign="middle">{php echo $vl['truename']}</td>
									<td align="center" valign="middle">{php echo $vl['integral']}</td>
								</tr>
								{/loop}
							</tbody>
						</table>
						<ul class="xwpages">
							{if !empty($visit_list)}
								{$show_page}
							{/if}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div> 
	</div>
</div>
<style>
#zhuanjiao_list{display:none;}
.zhuanjiao_list{padding:20px;}
.zhuanjiao_list .layui-btn{margin-top:40px;}
</style>

<script> 
layui.use('form', function(){
	var form = layui.form; 
});
</script>

{template 'footer'} 
