{template 'header2'}

<script type="text/javascript" charset="utf-8" src="/data/ext/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/data/ext/ueditor/ueditor.all.min.js"> </script> 
<script type="text/javascript" charset="utf-8" src="/data/ext/ueditor/lang/zh-cn/zh-cn.js"></script>
<link href="/ssz/wap/css/fuwu.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="/public/layui/css/layui.css">
<script src="/public/layui/layui.js"></script>
<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->
<style type="text/css">
	.layui-container{width: 100%;margin: 0 auto;padding:0px;font-size:12px;}
	.ke-container{width: 100%!important;} 
	.layui-form-title{text-align:right;display:block;width:100%;line-height:34px;min-width:80px;height:34px;font-size:12px;}
	.layui-form-title em{font: bold 14px/20px tahoma, verdana;color: red;vertical-align: middle;}
	.mb15 { margin-bottom: 15px; }
	.layui-input-block {margin-left: 20px;font-size:12px;}
	.layui-tab-content{padding-top:20px;}
	.layui-form-mid{font-size:12px;}
	.layui-form-value{padding-left: 20px;line-height: 32px;}
</style>
<div id="content_Height" class="clearfix">
	<div style="overflow:hidden;">
		<div class="content_top">
			<div class="user ">
				<div class="user_tx fl"><img src="{getImageUrl($member['avatar'],'avatar')}" alt="用户头像" /> </div>
				<div class="user_head fl">
					<div class="yhm"><span class="yhm" id="mobilePhone">{$member['truename']} </span>，您好！</div>
					<div class="rz" id="rz"><img src="/ssz/images/rate@2x_1.png" alt="账号等级" />
						职能部门：<span id="jibie">{getSinglePas($table='attribute','department',$member['department'],'title')}</span></div>
				</div>
			</div>
			<div class="user_three "> 
				<span><a href="{url('member','profile')}" id="zhsz"><img src="/ssz/images/icon-setting@2x_1.png" alt="账号设置" /> 账号设置</a>
				</span> 
				<span><a href="{url('logout','index')}" id="tcBtn1"><img src="/ssz/images/icon-exit@2x_1.png" alt="退出登录" /> 退出</a></span>  
			</div>
			
		</div>
		<div class="section">
			<div class="layui-container">
					<form class="layui-form"  id="article_list_form" enctype="multipart/form-data" method="post" >
						<input type="hidden" name="form_submit" value="ok"/>
						<input type="hidden" name="id" value="<?php echo $info['id'];?>" />
						<input type="hidden" name="ref_url" value="<?php echo getReferer();?>" /> 
						<div class="layui-tab-item layui-show">
							<div class="layui-row mb15 pt20">
								<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
									<label class="layui-form-title">工作事项：</label>
								</div>
								<div class=" layui-col-xs9 layui-col-sm9 layui-col-md8">
                  <div class="layui-form-value">
						{$info['name']}
									</div>
								</div>
							</div>
							<div class="layui-row mb15 ">
								<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
									<label class="layui-form-title">完成时间：</label>
								</div>
								<div class=" layui-col-xs9 layui-col-sm9 layui-col-md9">
									<div class="layui-form-value">
												{$info['enddate']}
									</div>
								</div>
							</div> 
							<div class="layui-row mb15 ">
								<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
									<label class="layui-form-title">安排负责人：</label>
								</div>
								<div class=" layui-col-xs9 layui-col-sm9 layui-col-md9">
									<div class="layui-form-value">
										{getvaluemore('member', $info['managerid'], 'truename')}
									</div>
								</div>
							</div>
							<div class="layui-row mb15 ">
								<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
									<label class="layui-form-title">安排部门：</label>
								</div>
								<div class=" layui-col-xs9 layui-col-sm9 layui-col-md9">
									<div class="layui-form-value">
										{getSinglePas('attribute', 'department', $info['departid'], 'title')}
									</div>
								</div>
							</div> 
							<div class="layui-row mb15 ">
								<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
									<label class="layui-form-title"> 上传附件：</label>
								</div>
								<div class=" layui-col-xs10 layui-col-sm10 layui-col-md10 ">
									<div class="layui-input-block">
										{getMoreattachment('upload_img_down','upload_img_list_down','down',$info['down'],'model',$info['model'],'size',$info['size'])}
									</div>
									<!-- <div class="layui-input-block">
										<div class="layui-form-mid layui-word-aux">缩略图尺寸：450*300</div>
									</div> -->
								</div>
							</div> 
						</div>    
						<div class="layui-row mb15 ">
							<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
								<label class="layui-form-title"> </label>
							</div>
							<div class=" layui-col-xs10 layui-col-sm10 layui-col-md10 ">
								<div class="layui-input-block">
									<button class="layui-btn layui-btn-primary updateinfo"  lay-submit lay-filter="formDemo">发布</button> 
								</div>
							</div>
						</div>

						
					</form>
					 
					<script> 
					layui.use('form', function(){
						var form = layui.form;
						
					   //监听提交
					   form.verify({
						   upload_img_down: function(value, item){
							   if(value==''){
								   return '请上传附件!';
							   } 
						   },
					   }); 
					   
						
					});

					</script>
					</div>
		</div>
		<div class="clear"></div> 
	</div>
</div> 

{template 'footer'} 

 