{template 'header',1}
<style type="text/css">
	/*.layui-container{width: 85%;margin-left: 4%;}*/
	/*.ke-container{width: 100%!important;}*/
	/*.layui-form-title em{color:red;}*/
	.layui-container{width: 100%;margin: 0 auto;padding:0px;}
	.ke-container{width: 100%!important;} 
	.layui-form-title{text-align:right;display:block;width:100%;line-height:34px;min-width:100px;height:34px;}
	.layui-form-title em{font: bold 14px/20px tahoma, verdana;color: red;vertical-align: middle;}
	.mb15 { margin-bottom: 15px; }
	.layui-input-block {margin-left: 20px;}
	.layui-tab-content{padding-top:20px;}
</style>
<div class="layui-container">
<form class="layui-form"  id="visit_list_form" enctype="multipart/form-data" method="post" >
	<input type="hidden" name="form_submit" value="ok"/>
	<input type="hidden" name="id" value="<?php echo $info['id'];?>" />
	<input type="hidden" name="ref_url" value="<?php echo getReferer();?>" /> 
		<div class="layui-row mb15 ">
		<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
			<label class="layui-form-title"><em>*</em>编号</label>
		</div>
		<div class=" layui-col-xs9 layui-col-sm9 layui-col-md9">
			<div class="layui-input-block">
				<input type="text" name="number" id="number" lay-verify="required" placeholder="请输入编号" autocomplete="off" class="layui-input" value="<?php echo $info['number'];?>"  lay-verify="required"> 
			</div>
		</div>
	</div> 

	<div class="layui-row mb15 ">
		<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
			<label class="layui-form-title"><em>*</em> 姓名</label>
		</div>
		<div class=" layui-col-xs9 layui-col-sm9 layui-col-md9">
			<div class="layui-input-block">
				<input type="text" name="truename" id="truename" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input" value="<?php echo $info['truename'];?>"  lay-verify="required"> 
			</div>
		</div>
	</div> 
	
	<div class="layui-row mb15 ">
		<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
			<label class="layui-form-title"><em>*</em> 职位</label>
		</div>
		<div class=" layui-col-xs9 layui-col-sm9 layui-col-md9">
			<div class="layui-input-block">
				<input type="text" name="position" id="position" lay-verify="required" placeholder="请输入职位" autocomplete="off" class="layui-input" value="<?php echo $info['position'];?>"  lay-verify="required">  
			</div>
		</div>
	</div>  
	<div class="layui-row mb15 ">
						<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
			                 <label class="layui-form-title"><em>*</em>部门</label>
						</div>
						<div class=" layui-col-xs9 layui-col-sm9 layui-col-md9">
			                 <div class="layui-input-block">
				                 <input type="text" name="depart" style="width:100%;" id="depart" placeholder="请输入部门" lay-v="required|title" autocomplete="off" class="layui-input" value="{php echo $info['depart']}">
			                 </div>
						</div>
					</div> 
	<div class="layui-row mb15 ">
						<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
			                 <label class="layui-form-title"><em>*</em>打卡时间</label>
						</div>
						<div class=" layui-col-xs9 layui-col-sm9 layui-col-md9">
			                 <div class="layui-input-block">
				                 <input type="text" name="clocktime" style="width:100%;" id="clocktime" lay-v="required|title" autocomplete="off" class="layui-input" value="{php echo $info['clocktime']}">
			                 </div>
						</div>
					</div>
	<div class="layui-row mb15 ">
		<div class=" layui-col-xs2  layui-col-sm2  layui-col-md2">
			<label class="layui-form-title"><em>*</em>打卡地点</label>
		</div>
		<div class=" layui-col-xs9 layui-col-sm9 layui-col-md9">
			<div class="layui-input-block">
				<input type="text" name="clockaddress" id="clockaddress"  placeholder="请输入打卡地点" autocomplete="off" class="layui-input" value="<?php echo $info['clockaddress'];?>" > 
			</div>
		</div>
	</div> 
	<div style="line-height:50PX;">&nbsp;</div>
	<div class="layui-form-item" style="width:88%;height:45px;margin:0 auto;background:#fff;position:fixed;bottom:0;text-align:center;border-top-style: solid;border-top-width: 1px;border-top-color: #009688;padding-top: 5px;z-index: 99999;" id="submit">
		<div class="layui-input-block" style="margin-left: -15px;">
			<button class="layui-btn" lay-submit lay-filter="formDemo"><?php echo $lang['hx_submit'];?></button> 
			<button type="reset" class="layui-btn layui-btn-primary" onclick="parent.location.reload();">关闭</button> 
		</div>
	</div>
</form>
 
<script> 
layui.use(['form','laydate'], function() {
				var form = layui.form,
					laydate = layui.laydate;

				//日期
				laydate.render({
					elem: '#clocktime',
					type: 'datetime',
			trigger: 'click'
				});
	
	{if $_GET['do']=='add'}		
	//监听提交
	form.verify({
		username: function(value, item){
			var tanchu=false;
			$.ajax({
				async: false,  
				type: "POST",
				dataType: "json",
				url: "index.php?url=<?php echo $this->name;?>&do=repeat",
				data: {
					"username" : value
				},	
				success: function(res){
					var res=eval(res);
					if(res.code==200){
						tanchu=true;
					}			
				}
			}); 
			if(tanchu){
			  return '登陆账号已存在，请换一个';
			}
			if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
			  return '用户名不能有特殊字符';
			}
			if(/(^\_)|(\__)|(\_+$)/.test(value)){
			  return '用户名首尾不能出现下划线\'_\'';
			}
			if(/^\d+\d+\d$/.test(value)){
			  return '用户名不能全为数字';
			}
		} 
		,levelid: function(value, item){
			if(value==''){
			  return '请选择学员等级';
			}
		} 
	}); 
	{/if}
});
</script>
</div>


{template 'footer',1}